/*!
 * SASS variables
 **/
$synproGreen: #d3e13c;
$synproGrey:  #a9a9a9;
$black:       #000;
$white:       #fff;
$darkgreen:   #0b333f;
$imgVisual: "http://farm9.staticflickr.com/8319/8070823747_eb96d940d5_k.jpg";

