

<section id="testimonials" class="single-page hidden-phone">
  <div class="container">
    <div class="row">
      <div class="blockquote-wrapper">
        <blockquote class="mega">
          <div class="span4">
            <p class="cite">Peter Pan</p>
          </div>
          <div class="span8">
            <p class="alignright">"Internet!"</p>
          </div>
        </blockquote>
      </div>
      <!-- /.blockquote-wrapper -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<section id="testimonials" class="single-page hidden-phone">
  <div class="container">
    <div class="row">
      <div class="blockquote-wrapper">
        <blockquote class="mega">
          <div class="span4">
            <p class="cite">Peter Pan</p>
          </div>
          <div class="span8">
            <p class="alignright">"Internet!"</p>
          </div>
        </blockquote>
      </div>
      <!-- /.blockquote-wrapper -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
